{#
/**
 * @file
 * Default theme implementation for displaying a project.
 *
 * Available variables:
 * - first: Whether or not this project item is the first one in the list.
 * - image: The project image, if any.
 * - title: The title of the project.
 * - author: The author of the project.
 * - last_updated: A string representing when the project was last updated.
 * - description: The project description. This could be long.
 * - extras: A string of any extra info that should go at the bottom.
 * - status: Whether the project is already installed, enabled, or not.
 * - install: The add to install queue button/link.
 *
 * @see project_browser_preprocess_project_browser_project()
 * @ingroup themeable
 */
#}

<div class={% if first %} "project-item-first" {% else %} "project-item" {% endif %}>
  {% if image %}
    <div class='project-image'>
      <img src='{{ image }}' />
    </div>
  {% endif %}

  <div class="project-information" >
    <h3 class="project-title">
      {{ title }}
    </h3>

    <div class="project-author">
      {{ author }}
    </div>

    <div class="project-updated">
      {{ last_updated }}
    </div>

    <div class="project-description">
      {{ description }}
    </div>
  </div>

  <div class="project-extra">
    {{ extras }}
  </div>

  <div class="project-status">
      {{ status }}
      {{ install }}
  </div>
  <div class='clearfix'></div>
</div>
