{#
/**
 * @file
 * Default theme implementation to display a block on the projects browser page.
 *
 * Available variables:
 * - title: The title of the block.
 * - content: The content of the block.
 *
 * @see project_browser_preprocess_project_browser_block()
 * @ingroup themeable
 */
#}
<div class="project-browser-block">
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes }}>
        {{ content }}
    </div>
</div>
