{#
/**
 * @file
 * Default theming implementation for displaying list of queued projects.
 *
 * Available variables:
 * - queue_html: The html for the install_queue.
 *
 * @see project_browser_preprocess_project_browser_install_queue()
 * @ingroup themeable
 */
#}
<div id="project-browser-install-queue" class="clearfix">
  {{ queue_html }}
</div>
